.article-wrapper{
    padding:10px;
}

.article-title{
    margin-bottom: 10px;
}

.article-content p{
    text-align: justify;
    margin-bottom: 20px;
}

.article-leave{
    text-align: center;
    font-size: larger;
}