html{
    background-color: #202020;
}

.wrapper{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}

.wrapper span{
    margin:auto;
    margin-left: 0px;
    margin-right: 0px;
}

span.low{
    color:#2dd63e;
    margin-left: 5px;
}

span.medium{
    color:#d6d02d;
    margin-left: 5px;
}

span.high{
    color:#d66e2d;
    margin-left: 5px;
}

span.very-high{
    color:#d62d2d;
    margin-left: 5px;
}

.time{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
}